td, .auto-play-btn, .max-bet-btn{
  font-family: 'Rye', arial;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  height: 100%;
}

.bgbig {
  height: 100%;
  position: relative;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgbig::after {
  content: '';
  background-image: url("images/background.png");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-size: cover;
  opacity: 0.5;
  filter: brightness(50%);
}

.bg {
  height: 864px;
  width: 1536px;
  z-index: 200;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.bg img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -100;
}

/* .reels {
  align-self: center;
  top: -30px;
  width: 70%;
  height: 70%;
  position: relative;
  background-color: rgba(27, 14, 52,0.8);
  border-collapse: collapse;
  overflow: hidden;
} */

td {
  /* border: 1px solid red; */
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-ui {
  position: absolute;
  z-index: 200;
  align-self: flex-end;
  width: 100%;
  height: 156px;
}

td.filling {
  width: 7px;
  background-image: linear-gradient(rgba(71, 79, 102, 0), rgba(124, 158, 218, 1), rgba(71, 79, 102,0));
}

.bottom-ui-content {
  /* background: aqua; */
  /* opacity: 0.4; */
  position: absolute;
  left: 0;
  bottom: 0;
  height: 137px;
  width: 100%;
  z-index: 300;
  padding: 0 20px;
}

.button-empty-right {
  width: auto;
}

.button-empty-left {
  width: auto;
}

.text1 {
  padding-top: 35px;
  width: 8%;
  min-width: 117px;
  color: #fffec8;
}

.text2 {
  width: 8%;
  color: #fffec8;
  padding-bottom: 10px;
}

.arrow-button-left {
  text-align: end;
  padding-bottom: 10px;
}

.arrow-button-right {
  text-align: start;
  padding-bottom: 10px;
}

.auto-play {
  width: 15%;
  height: 100%;
  padding-top: 20px;
}

.auto-play-btn {
  position: relative;
  width: 100%;
  min-width: 214px;
  height: 100%;
  z-index: 100;
  margin: 0;
  padding: 0;
  background-image: url(images/icons/auto-play-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
 
}

.auto-play-text {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  color: #360d26;
  z-index: 300;
  left: -5px;
  top: 5px;
}

.max-bet-btn {
  position: relative;
  display: inline;
  width: 100%;
  min-width: 214px;
  height: 100%;
  z-index: 50;
  margin: 0;
  padding: 0;
  background-image: url(images/icons/max-bet-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.max-bet-btn {
  cursor: pointer;
}

.max-bet.image {
  object-fit: contain;
  width: 180px;
  height: 50px;
  z-index: 300;
}

.max-bet-text {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  color: #360d26;
  z-index: 300;
  left: -5px;
  top: 5px;
}

.max-bet {
  width: 15%;
  height: 100%;
  padding-top: 20px;
  z-index: -200;
}

.empty-box {
  width: 5%
}

.bottom-ui-content button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.left-arrow {
  background-image: url(images/icons/left-arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.right-arrow {
  background-image: url(images/icons/right-arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.spin-btn {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-image: url(images/ui/spin\ button.png);
  background-clip: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

img.spin-btn {
  cursor: pointer;
}

.spin-btn-td {
  width: 10%;
  height: 100%;
  z-index: 300;
}

.hidden-circle {
  position: absolute;
  bottom: -40px;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: aqua;
  z-index: 300;
}

td.spacing {
  position: relative;
  width: 2%;
  height: 100%;
}

.slot-title {
  position: absolute;
  background-image: url(images/slot-title.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 400;
  width: 800px;
  height: 100px;
  top: 35px;
}

.arrow-button-left button,
.arrow-button-right button,
.max-bet-btn,
.auto-play-btn,
.spin-btn{
  cursor: pointer;
}

/* Hover effects */

.left-arrow:hover, .right-arrow:hover {
  filter: brightness(70%);
  transform: scale(1.2);
}

.max-bet-btn:hover,
.auto-play-btn:hover,
.spin-btn:hover{
  filter: brightness(110%);
  transform: scale(1.1)
}

.max-bet-btn:hover span,
.auto-play-btn:hover span{
  color: #57153e;
}

/* active effects */

.left-arrow:active, .right-arrow:active {
  filter: brightness(70%);
  transform: scale(0.9);
}

.max-bet-btn:active,
.auto-play-btn:active,
.spin-btn:active{
  filter: brightness(110%);
  transform: scale(0.9)
}

.max-bet-btn:on-click span,
.auto-play-btn:on-click span{
  color: #57153e;
}

/* images per position */
#p1 {
  background-image: url(images/icons/female\ cut.png);
}

#p2 {
  background-image: url(images/icons/male\ cut.png);
}

#p3 {
  background-image: url(images/icons/trolley.png);
}

#p4 {
  background-image: url(images/icons/pile\ of\ gold.png);
}

#p5 {
  background-image: url(images/icons/dynamite\ crate.png);
}

#p6 {
  background-image: url(images/icons/gas\ lamp.png);
}

#p7 {
  background-image: url(images/icons/snake.png);
}

#p8 {
  background-image: url(images/icons/barrels.png);
}

#p9 {
  background-image: url(images/icons/boots.png);
}

#p10 {
  background-image: url(images/icons/wild.png)
}

#p11 {
  background-image: url(images/icons/bag\ of\ gold.png);
}

#p12 {
  background-image: url(images/icons/gas\ lamp.png);
}

#p13 {
  background-image: url(images/icons/dynamite\ crate.png);
}

#p14 {
  background-image: url(images/icons/bag\ of\ gold.png);
}

#p15 {
  background-image: url(images/icons/wild.png);
}

.win-amount {
  position: absolute;
  z-index: 1000;
  font-size: 30px;
  top: 40px;
  left: 20px;
  background-color: black;
  color: white;
  padding: 5px;
}

#canvas {
  position: absolute;
  top: 100px;
  z-index: 1000;
  }

.reels2 {
  align-self: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  transform: translateY(-100%)
}

.reels {
  align-self: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-collapse: collapse;
  overflow: hidden;
  transform: translateY(-100%)
}

.Varea {
  align-self: center;
  top: -30px;
  width: 70%;
  height: 70%;
  position: relative;
  background-color: rgba(27, 14, 52,0.8);
  border-collapse: collapse;
  overflow: hidden;
}

/* images per position reel2 */
#r2p1 {
  background-image: url(images/icons/female\ cut.png);
}

#r2p2 {
  background-image: url(images/icons/male\ cut.png);
}

#r2p3 {
  background-image: url(images/icons/trolley.png);
}

#r2p4 {
  background-image: url(images/icons/pile\ of\ gold.png);
}

#r2p5 {
  background-image: url(images/icons/dynamite\ crate.png);
}

#r2p6 {
  background-image: url(images/icons/gas\ lamp.png);
}

#r2p7 {
  background-image: url(images/icons/snake.png);
}

#r2p8 {
  background-image: url(images/icons/barrels.png);
}

#r2p9 {
  background-image: url(images/icons/boots.png);
}

#r2p10 {
  background-image: url(images/icons/wild.png)
}

#r2p11 {
  background-image: url(images/icons/bag\ of\ gold.png);
}

#r2p12 {
  background-image: url(images/icons/gas\ lamp.png);
}

#r2p13 {
  background-image: url(images/icons/dynamite\ crate.png);
}

#r2p14 {
  background-image: url(images/icons/bag\ of\ gold.png);
}

#r2p15 {
  background-image: url(images/icons/wild.png);
}